.counter {
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-family: @ff-pt-root-ui;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #2d3242;
    margin-right: 22px;
  }
}

.counter__numbers {
  font-family: @ff-bebas-neue;
  font-weight: 400;
  font-size: 40px;
  line-height: 103%;
  text-transform: uppercase;
  text-align: center;
  color: #01b9c5;
  margin: 0;
}

.counter__units {
  font-family: @ff-pt-root-ui;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #818798;
  margin: 0;
}

