.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 0;

  h2 {
    font-family: @ff-pt-root-ui;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    color: #2d3242;
    margin: 0;
    margin-right: 22px;

    @media (min-width: @desktop) {
      font-weight: 700;
      font-size: 30px;
    }
  }
}

.counter__watch {
  display: flex;
  gap: 15px;
  align-items: center;
}

.counter__numbers {
  font-family: @ff-bebas-neue;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-align: center;
  color: #01b9c5;
  margin: 0;

  @media (min-width: @desktop) {
    font-size: 60px;
  }

  &--time-is-over {
    color: #fd4d35;
  }

  &--time-is-over-animation {
    @keyframes time-is-over {
      0% { color: #fd4d35; }
      50% { color: #facfca; }
      100% { color: #fd4d35; }
    }

    animation: time-is-over 1000ms infinite;
  }
}

.counter__units {
  font-family: @ff-pt-root-ui;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #818798;
  margin: 0;

  @media (min-width: @desktop) {
    font-weight: 700;
    font-size: 16px
  }
}

.counter__minutes, .counter__seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__separator {
  display: block;
  width: 5px;
  height: 15px;
  background-image: url(../img/separator.svg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  &--time-is-over {
    background-image: url("../img/separator_mode.svg");
  }

  &--animation {
    animation-name: separator;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,2.0,0,1.0);
    animation-duration: 1s;
  }
}

@keyframes separator {
  from { opacity: 1.0; }
  to { opacity: 0.0; }
}

