.popup {
  width: 335px;
  margin: 30px auto ;
  padding: 50px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  background-color: #F5F7F7;
  position: fixed;
  left: calc((100% - 335px) / 2);
  overflow-y: scroll;
  display: none;


  form {
    width: 100%;
  }
}

.popup--visible {
  display: block;
}

.popup__header {
  display: grid;
  grid-template-columns: 1fr 1fr;

  span {
    font-family: @ff-pt-root-ui;
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0.02em;
    color: #fff;
    padding: 6px 10px;
    background-color: #01b9c5;

  }
}

.popup__title {
  font-family: @ff-rubik;
  font-size: 24px;
  font-weight: 700;
  line-height: 130%;
  color: rgba(18, 25, 29, 1);
  margin: 0;

  span {
    color: rgba(1, 185, 197, 1);
  }
}

.popup__promo {
  font-family: @ff-pt-root-ui;
  padding: 13px 22.5px;
  margin: 0;
  margin-top: 8px;
  font-weight: 700;
  font-size: 15px;
  line-height: 130%;
  color: #2d3242;
  border: 2px solid #01b9c5;
  border-radius: 30px;

  span {
    color: #01b9c5;
  }
}

.popup__description {
  font-family: @ff-pt-root-ui;
  font-weight: 500;
  font-size: 15px;
  line-height: 130%;
  color: #12191d;
  margin: 0;
  margin-top: 22px;
  text-align: center;

  span {
    font-family: @ff-rubik;
    color: #2d3242;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

.popup__abonnements-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 14px;
}

.popup__abonnements-item {
  width: 295px;
  position: relative;

  label {
    display: block;
    border: 2px solid #e7eaf1;
    border-radius: 20px;
    background-color: @basic-white;
    padding: 24px 20px;
  }
}

.popup__abonnements-item-checkbox {
  width: 20px;
  height: 20px;
  box-sizing: border-box;
  border-radius: 50%;
  border: 1px solid #555965;
}

input:checked + label .popup__abonnements-item-checkbox {
  border: 1px solid #01b9c5;
  background-image: url("../img/Ellipse.svg");
  background-size: 10px 10px;
  background-position: center center;
  background-repeat: no-repeat;
}

.popup__abonnements-item-label-container {
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  display: flex;
  width: 100%;
  row-gap: 20px;
  column-gap: 40px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.popup__abonnements-item-title {
  font-family: @ff-bebas-neue-cyrillic;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  color: #2d3242;
  margin: 0;
}

.popup__abonnements-item-price {
  font-family: @ff-pt-root-ui;
  font-weight: 700;
  font-size: 44px;
  line-height: 110%;
  color: #2d3242;
  margin: 0;
}

.popup__abonnements-item-old-price {
  font-family: @ff-pt-root-ui;
  font-weight: 700;
  font-size: 20px;
  line-height: 110%;
  color: #2d3242;
  position: relative;
  width: fit-content;
  margin: 0;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fd4d35;
    transform: rotate(18deg);
    left: 0;
    top: 10px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fd4d35;
    transform: rotate(162deg);
    left: 0;
    top: 10px;
  }
}


// <li class="popup__abonnements-item">
//   <input type="radio" id="1_week" value="1_week" name="abonnement">
//   <label for="1_week">
//     <div class="popup__abonnements-item-label-container">
//       <h3 class="popup__abonnements-item-title">1 неделя</h3>
//       <p class="popup__abonnements-item-price">599р</p>
//       <p class="popup__abonnements-item-old-price">999р</p>
//     </div>
//   </label>
// </li>
