// padding
@mobile-padding: 0 20px;
@tablet-padding: 0 30px;
@desktop-padding: 0 50px;

// width
@mobile: 375px;
@tablet: 768px;
@mobile-max: 767px;
@desktop-content: 1098px;
@pre-desktop: 1023px;
@desktop: 1280px;

// colors
@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-green: #68B738;
@basic-grey: #F2F2F2;

@ff-pt-root-ui: "pt-root-ui", "Arial", sans-serif;
@ff-bebas-neue: "bebas-neue", "Arial", sans-serif;
@ff-rubik: "rubik", "Arial", sans-serif;
@ff-bebas-neue-cyrillic: "bebas-neue-cyrillic", "Aria", sans-serif;
